/*
NOTES:
	.class - assign a class using '.' first
	#id - assign to an id using '#' first
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*
	CRIMSON AND FOREST GREEN COLOR PALETTE

	Red: #FF0033
	Dark: #57423F
	Light: #BFA6A2
	Light Green: #449200
	Forest Green: #015E00

*/

html {
	position: relative;
	min-height: 100%;
}

::selection {
	background: #FF0033;
	color: whitesmoke;
}

body {
	color: black;
	font-family: 'Quicksand', 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	/* background-image: url("Images/Rockies.jpg"); */
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-position-y: 0%;
	background-size: 100%;
	background-color: whitesmoke;
}

a {
	color: #FF0033;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
}

p {
	font-size: 18pt;
	line-height: 1.5;
}

header {
	letter-spacing: 2px;
	color: whitesmoke;
	font-size: 140%;
}

h1 {
	font-size: 50px;
	padding-top: 0;
	display: inline;
	margin-left: 20px;
}
h2 {
	font-size: 32px;
	padding-top: 0;
	display: inline;
}
h3 {
	font-size: 26px;
	padding-top: 0;
	display: inline;
}

.top {
	background: linear-gradient(black, whitesmoke);
	/*background: rgb(106, 126, 133;*/
	height: 100%;
}

.navUl {
	background-color: whitesmoke;
	overflow: hidden;
	list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: sticky; */
	top: 0;
}

.real ul li a {
  position: relative;
}

/* ul a {
	float: left;
	color: black;
	background: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 100px;
	margin: 0.625%;
	border: 2px solid black;
}

ul a:hover, .dropdown:hover .dropButton {
	background-color: black;
	color: whitesmoke;
	text-decoration: bold;
}

ul a:active {
	background-color: whitesmoke;
	color: black;
}

.dropdown {
	float: left;
	overflow: hidden;
} */

.realLinks {
	float: right;
}

.navLi {
	float: left;
}

.navLi a {
	float: left;
	color: black;
	background: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 100px;
	margin: 5px;
	/* transition: width 1s; */
	/* border-bottom-width: 0%; */
	/* transition: border-bottom 1s; */
	
	/* border: 2px solid black; */
}

.navLi a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
	background: #000;
	/* left: 50%; */
	position: relative;
	transition: width .5s ease-in-out;
	/* transition: left .5s ease-out; */
	
}

.navLi a:hover::after {
	width: 100%;
}

.linkedinButton {
	float: left; 
}

.linkedinButton a {
	float: left;
	background-color: #0077B5;
	color: whitesmoke;
	border: 1px solid #0077B5;
	border-radius: 10px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 100px;
	margin: 5px;
	transition: 0.5s;
}

.linkedinButton a:hover {
	transition: 0.5s;
	background: whitesmoke;
	color: #0077B5;
	border: 1px solid #0077B5;
}

.dropdown .dropButton {
	font-size: 17px;
	border: none;
	outline: Paragraph;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font: inherit;
	margin: 0;
}

.dropButton {
	text-decoration: underline;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: #4db8ff;
	min-width: inherit;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border: 1px solid black;
}

.dropdownContent a {
	float: none;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	text-align: left;	
}

.dropdownContent a:hover {
	background-color: black;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.linksLeft {
	/* overflow: hidden; */
	width: 30%;
	float: left;
	margin: auto;
}

.linksRight {
	/* overflow: hidden; */
	width: 30%;
	float: left;
	margin: auto;
}

.textBox2 {
	float: left;
	overflow: hidden;
	width: 30%;
	border: 2px solid black;
	color: black;
}

.middleTextBox {
	margin: auto;
	width: 50%;
	box-align: center;
	text-align: center;
	/* float: left; */
}

.rightTextBox {
	margin: auto;
	width: 60%;
	/* background: whitesmoke; */
	float: left;
}

.circle {
  height: 400px;
  width: 400px;
  background-image: url("Images/hawaii-pic.jpg");
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0px 0px 20px 0px black
}

/*

SECONDARY NAV CSS

*/

.secondaryNav {
	margin-top: 60px;
}
.circle1wrapper {
	float: left;
	width: 25%;
}
.circle2wrapper {
	float: left;
	width: 25%;
}
.circle3wrapper {
	float: left;
	width: 25%;
}
.circle4wrapper {
	float: left;
	width: 25%;
}

.smallCircle1 {
	height: 200px;
	width: 200px;
	background-image: url(Images/Amazon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px black;
	background-origin: content-box;
	padding: 10px;
	transition: 0.5s;
  }
  .smallCircle2 {
	height: 200px;
	width: 200px;
	background-image: url(Images/backpacker.png);
	background-repeat: no-repeat;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px black;
	background-origin: content-box;
	padding: 10px;
	transition: 0.5s;
  }
  .smallCircle3 {
	height: 200px;
	width: 200px;
	background-image: url(Images/hoofer-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px black;
	background-origin: content-box;
	padding: 10px;
	transition: 0.5s;
  }
  .smallCircle4 {
	height: 200px;
	width: 200px;
	background-image: url(Images/uw-madison-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px black;
	background-origin: content-box;
	padding: 10px;
	transition: 0.5s;
  }
  .smallCircle1:hover, .smallCircle2:hover, .smallCircle3:hover, .smallCircle4:hover {
	transition: 0.5s;
	border-radius: 5%;
	width: 210px;
  }

.amazonWrapper, .hobbiesWrapper, .hoofersWrapper, .UWMadisonWrapper {
	margin-left: 4%;
	margin-right: 4%;
}

/* FOOTERS */
.footer {
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	vertical-align: center;
}
.stickyFooter {
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	vertical-align: center;
	position: absolute;
}

.landing {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 50px;
}

hr {
	border: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	height: 5px;
	width: 95%;
}

