/*
NOTES:
	.class - assign a class using '.' first
	#id - assign to an id using '#' first
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/*

	COLOR GRADIENT (from brightest to darkest):
		AMAZON ORANGE: #FF9900
		
		whitesmoke
		#00B2BF
		#078DA2
		rgb(106, 126, 133
		black
	
*/

html {
	position: relative;
	min-height: 100%;
}

body {
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	/* background-image: url("Images/Rockies.jpg"); */
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-position-y: 0%;
	background-size: 100%;
	background-color: whitesmoke;
}

p {
	font-size: 15pt;
	line-height: 1.5;
}

header {
	letter-spacing: 2px;
	color: whitesmoke;
	font-size: 140%;
}

h1 {
	font-size: 50px;
	padding-top: 0;
	display: inline;
}

.top {
	background: linear-gradient(black, whitesmoke);
	/*background: rgb(106, 126, 133;*/
	height: 100%;
}

.navUl {
	background-color: whitesmoke;
	overflow: hidden;
	/* border-bottom: 1px solid rgb(92, 92, 92); */

	list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: sticky; */
    top: 0;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/* ul a {
	float: left;
	color: black;
	background: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 100px;
	margin: 0.625%;
	border: 2px solid black;
}

ul a:hover, .dropdown:hover .dropButton {
	background-color: black;
	color: whitesmoke;
	text-decoration: bold;
}

ul a:active {
	background-color: whitesmoke;
	color: black;
}

.dropdown {
	float: left;
	overflow: hidden;
} */

.navLi {
    float: left;
}

.realLinks {
	float: right;
	/* margin: 5px; */
}

.navLi a {
	float: left;
	color: black;
	background: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 100px;
	margin: 5px;
	/* border: 2px solid black; */
}

.navLi a:hover {
	/* background-color: black;
	color: whitesmoke; */
	line-height: 110%;
	transform: perspective(1px) translateZ(0);
	border-bottom: 3px solid black;
	transition-property: left, right;
	transition-property: transform;
	transition-duration: 0.5s;
}

.dropdown .dropButton {
	font-size: 17px;
	border: none;
	outline: Paragraph;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font: inherit;
	margin: 0;
}

.dropButton {
	text-decoration: underline;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: #4db8ff;
	min-width: inherit;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border: 1px solid black;
}

.dropdownContent a {
	float: none;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	text-align: left;	
}

.dropdownContent a:hover {
	background-color: black;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.linksLeft {
	/* overflow: hidden; */
	width: 30%;
	float: left;
	margin: auto;
}

.linksRight {
	/* overflow: hidden; */
	width: 30%;
	float: left;
	margin: auto;
}

.textBox2 {
	float: left;
	overflow: hidden;
	width: 30%;
	border: 2px solid black;
	color: black;
}

.middleTextBox {
	margin: auto;
	width: 50%;
	box-align: center;
	text-align: center;
	/* float: left; */
}

.rightTextBox {
	margin: auto;
	width: 60%;
	/* background: whitesmoke; */
	float: left;
}

.circle {
  height: 400px;
  width: 400px;
  background-image: url("Images/hawaii-pic.jpg");
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0px 0px 20px 0px black
}

.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	vertical-align: center;
	/* height: 60px; */
	/* background: rgb(255, 255, 255); */
	
}

.landing {
	margin-left: 2%;
	margin-right: 2%;
}

.divider {
	float: left;
	width: 100%;
}

hr {
	display: block;
	/* border-top: 5px solid black;
	border-bottom: 5px solid black; */
	border-color: black;
	background-color: black;
	height: 5px;
	border: 0;
	box-shadow: 0px 0px 5px 1px black
}

